<h1>Created events by <%= user.username %></h1>
<div>
    <% created_events.find_each do |event| %>
    <h3>
        <%= link_to event.title, event_path(event) %><br>
        <%= event.date %>
    </h3>
    <br>
    <% end %>
</div>