<div class="container">
    <div class="events-user">
        <%= print_created_events %>
    </div>

    <div class="previous">
        <h1>Previous events</h1>
        <%= print_previous_events %>
    </div>

    <div class="upcoming">
        <h1>Upcoming events</h1>
        <%= print_upcoming_events %>
    </div>
</div>