<div>
    <% @events.each do |event| %>
    <%= event.date %> |
    <%= event.title %>
    <br>
    <% end %>
</div>
<div>
    <% if @attend_events %>
    <% @attend_events.each_with_index do |attend_event, index| %>
    <%= attend_event.title %> <br>
    <% end %>
    <% end %>

</div>