<div class="container">
    <div class=" events-user">
        <%= print_created_events %>
    </div>

    <div class="user-part previous">
        <h1>Past events</h1>
        <%= print_previous_events %>
    </div>

    <div class="user-part upcoming">
        <h1>Upcoming events</h1>
        <%= print_upcoming_events %>
    </div>
</div>