<div>
  <% @events.each do |event| %>
  <%= event.date %> |
  <%= event.title %>
  <br>
  <% end %>
</div>
<div>
<% if @attend_events %>
    <%= @attend_events.each do |attend_event| %>
    <%= attend_event %>
    <% end %>
  <% end %>
</div>