<div class="container">
    <div class="past-events">
        <h1>Past Events</h1>
        <%= past_events %>
    </div>

    <div class="upcoming">
        <h1>Upcoming Events</h1>
        <%= upcoming_events %>
    </div>

</div>